<h3>What is Knew 2 crypto ?</h3>

<p>Knewtocrypto.com is a site primarily for people who are new to cryptocurrencies.knewtocrypto.com is a platform where those who are new to cryptocurrencies can learn more about them in detail - in addition to starting or managing a crypto
  porfolio.The site was made for those who are new to the Crypto game to gain knowledge in a friendly intuitive way.This site is primarily targeted towards new investors,but all are welcome to join and grow!
</p>

<p>Jumping into the complex world of cryptocurrencies can be a difficult challenge for many, as the crypto market is filled with technical, computing, trading and finance jargons and conflicting information. But do not worry! We’ve condensed and
  curated some of the best information about cryptocurrencies
</p>

<h3>Common Terms</h3>

<p>
  Altcoin: Any cryptocurrency other than bitcoin
  <br><br>
  Bagholder: A person who holds a particular crypto which decreases in value until it is worthless
  <br><br>
  Bear/Bearish: Negative sentiment or downward price movement
  <br><br>
  Bear Trap: A literal trap where a general upward price trend reverses downwards momentarily and will continue its upwards motion
  <br><br>
  BTD: Buy The Dip. An indication to buy a coin when it has substantially decreased in price
  <br><br>
  Bull/Bullish: Positive sentiment or upward price movement
  <br><br>
  Bull Trap: A literal trap where a general decreasing price movement reverses upwards momentarily and will continue its downwards motion
  <br><br>
  Dead Cat Bounce: A temporary recovery in prices after a huge decrease
  <br><br>
  Dump/Dumping: Selling away your coins/Downward price movements due to increase selling pressure by many
  <br><br>
  DYOR: Do your own research ELI5:<br>
  Explain to me Like I’m 5. An explanation (usually in Reddit) that is simplified that even a 5-year-old can understandbr Faucet: Website that rewards you with small amounts of cryptos for the completion of a specific task
  <br><br>
  FOMO: Fear Of Missing Out. This is a rookie mistake where a coin is skyrocketing and you get the feeling it’s gonna pump more, so you buy at the peak
  <br><br>
  Fork:Splitting of the Blockchain due to competing philosophies or protocol upgrade
  <br><br>
  FUD: Fear, Uncertainty & Doubt. Describes time of panic where negative sentiments are overexaggerated
  <br><br>
  HODL: Act of holding on to your coins even in dire market circumstances, resisting the urge to sell JOMO: Joy Of Missing Out. Opposite of FOMO Long: A positive or favourable view on the coin or the market in general, usually with an underlying
  investment on the coin in mind
  <br><br>
  MCAP: Market capitalization of the coin, which is an indicator of its market size. It’s derived from multiplying its market price to the total available supply of coins currently in the market
  <br><br>
  Moon: Expected upward movement (burst) of price, towards the moon
  <br><br>
  Pump: Upward price movement Pump & Dump: Price manipulation by whales or collectives
  <br><br>
  Shitcoin: A coin with no potential value or use. Also, includes useless currencies such as fiat
  <br><br>
  money Short: Selling coins on margin (borrowing from the exchange), expecting the price to plunge
  <br><br>
  TA: Technical Analysis, or the analysis of prices based on historical price movements and fancy indicators
  <br><br>
  Rekt: A slang that refers to “wrecked” Reverse Indicator: Someone who is always wrong predicting price movements
  <br><br>
  RSI: Relative Strength Index, a popular trading indicator used in technical analysis
  <br><br>
  Vapourware: A project that is never actually manufactured or implemented, synonymous with shitcoin
  <br><br>
  Whale: Someone who owns a huge number of coins that can influence prices of coins
</p>

<h3>A beginners guide to crypto</h3>

<p>

  Getting Started in Crypto What is cryptocurrency? In the most basic sense a cryptocurrency is an encrypted currency (generally decentralized but not always) that functions on a blockchain. This was executed first by satoshi nakamoto in 2008 after the
  financial crisis caused by the crash of the housing market. The creation of bitcoin and blockchain solved the double spending problem, which in turn paved the way for everything that has and will come. What is blockchain? This question can be
  answered in many ways, for sake of this guide I’m just going to do it in the simplest and if you want more detail I am happy to provide. “The blockchain is an incorruptible digital ledger of economic transactions that can be programmed to record not
  just financial transactions but virtually everything of value”. What that means is that it’s a system the cannot be corrupted, and records everything done on a given exchange network. In terms of currency that means that every transaction is recorded
  somewhere on the blockchain. In terms of other goods or services there are endless possibilities. Coin vs Token. In its most basic sense a coin is a cryptocurrency unit that is exactly that, a currency. Generally, the early players in the
  cryptocurrency world are coins. You have coins such as bitcoin, litecoin, and monero. A token on the other hand is a cryptocurrency that has a broader function. These tend to be the new school of crypto and you get things like ether, ripple,
  raiblocks, and so
  <br>
  <br>It is important to be able to distinguish between the two so that you know exactly what you end up investing in. Exchanges and Wallets. So, once you finally decide you want to get involved the first steps are to find yourself a wallet and
    exchange for your desired currency. Wallets can be found online and generally most cryptocurrencies have designated wallets you can find on their website. Exchanges are where your fiat currency (things like cad and usd) and then exchange for whatever
    you desire. Coinbase is the biggest exchange as of right now, however it isn’t Canadian friendly and only holds 4 currencies as of now (that number will change in the future). I personally use Quadrigacx, it is a Canadian exchange based out of
    Vancouver where uploading fiat currency is easy once you become verified (submit required documents). It is very secure, and I have had no problems with it to date. Now, quadrigacx only exchanges a handful of currencies so if you are looking for one
    that isn’t on there these will be your steps. Wire capital to quadrigacx, buy BTC, transfer your BTC to an exchange that carries what you like, and purchase it through there. The list of exchanges I use, and trust include: bittrex, binance, kucoin,
    yobit, coinexchange.io. kraken, and radar relay. Now once you start to get involved I suggest you stick to quadrigacx, bittrex, binance. Those are the major players and by far the easiest to use. Once you get more accustomed to the environment of
    trading then I would say branching out is a good idea. What to buy? Fuck, good question. The most important question you must ask yourself is do you want a short or long-term investment. To start your journey, I would say long term would be the best
    bet. You can purchase some crypto, watch it go, pay attention to the market and what influences it and make some steady gains (hopefully). Long term investments are held (in my opinion) for at minimum three weeks. My rule of thumb for long term
    investments is that it must fit 3 criteria. It must be a technology I believe in and like, a reputable team must back it, and it MUST BE SCALABLE. If something fits those then I’m in for the long haul. Now short-term investments are not day trading.
    What I mean by short term investments are small shitcions that have good ideas, followings, and has potential to gain fast traction. Personally, when I choose short term investments I like them to be under 2 dollars and I hold them for 3 days to 3
    weeks. If I’m not happy with them at any time within that period, then I’m out.
  <br>
  <br>
  DON’T BE A GREEDY SON OF BITCH Now to elaborate on my previous points, if you have a long-term investment… ITS SUPPOSED TO BE LONG TERM. Now I’m not saying you can never walk away with profit because profit isn’t profit until you pull it out. This is
  kind of a double-edged sword and this is what distinguishes good traders from average. You need to have the stomach to hold when others pull out and panic sell, and you need to have the brains to pull out before it crashes. In other words, you need
  to be smart about every single action you make in the crypto world and you need to make every decision for yourself. Not because you read some crackpot of reddit panic selling over a 2% dip. INFORMATION INFORMATION INFORMATION You must understand
  that cryptocurrency is not stocks. You are not buying into a company, you are purchasing a good. This is imperative to understand. The cryptocurrency world does not sleep like the stock market does, it is constantly moving whether you are paying
  attention to it or not. This means that sometimes you are going to get lucky and stumble upon something at 2am on a Tuesday night that could make you rich, or maybe you lose out on something because you were sleeping. Shit happens, and you can’t
  dwell on it. It is a volatile market and you must do the best you can in the present moment and not get caught up in the past or future. Those who try to predict the market lose it all. Be smart all the time and think every decision through.
  Information is constantly flowing which means you need to be an active member in the community if you want to stay on top of it, this means reddit, google news, telegram, discord, and people. It is so easy to network and get involved, and it really
  is an overall safe and good community. One of the best parts of cryptocurrency is that everyone involved wants it to succeed, and for it to succeed everyone needs to help everyone. That is why I am writing this for you. You need to constantly be
  educating yourself. Understand that you can’t be an expert, but you can be educated. There will always be others out there who know more than you, and you must be willing to find and learn from them. Be respectful and ask questions ALL THE TIME.
  <br>
  <br>
  Is it a bubble? Notice how I didn’t ask the question “will it crash” because the answer to that is always going to yes. That is how people buy low and sell high to make money. You want to get in low, and sell before it crashes. In the past 2 months
  the crypto world has experienced 3 major crashes. All of them has recovered and all of them were great opportunities to make good money. Like I said, be smart and try your best to be ahead of the game. That being said you are going to lose money at
  times. That is okay, just make sure you learn from it. Sometimes it can be attributed to poor decision making, and other times its just shit luck. ITS OKAY. In my opinion crypto currency is not a bubble. Blockchain technology has the ability to
  change the world in radical ways we haven’t even thought of yet. For something to be a bubble it must lack utility, but everyday more and more utility comes around for cryptocurrency. Whether it be buying goods with bitcoin or banks implementing
  ripple into their everyday business life. Safety Now in an online world you must do a lot on your own. This means you must be safe about everything. Double and triple check everything, avoid anything you don’t 100% believe in, and keep everything
  safe. This means all your passwords and code need to be written down in at least 3 places as well as up your ass for good measure. You lose your shit you lose your money. Simple. Don’t be fucking around and handing anything out to anyone because in
  an environment where you can make everything in an hour… you can lose more in seconds. So be weary and trust your gut. And that’s it for the basic guide. If you have any more questions or want more in depth knowledge or insight I’m happy to give what
  I know upon further request. Remember that this is a volatile market and everything I said it just MY opinion and knowledge. Take it with a grain of salt and question everything for yourself. Don’t invest anything you aren’t willing to lose and be
  involved for the right reasons. Cheers and good luck.
</p>

<style>
  html {
    background-color: #07393C;
  }
  body {
    background-color: #F0EDEE;
  }
  h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 12rem;
  }
  p {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
  }
</style>