<p>Knewtocrypto.com is a site primarily for people who are new to cryptocurrencies.knewtocrypto.com is a platform where those who are new to cryptocurrencies can learn more about them in detail - in addition to starting or managing a crypto
  porfolio.The site was made for those who are new to the Crypto game to gain knowledge in a friendly intuitive way.This site is primarily targeted towards new investors,but all are welcome to join and grow!
</p>