<div class="index">

  <h1>New to Crypto?</h1>

  <h3>We got you covered!!</h3>

  <!-- <%=image_tag("knewtocrypto.png")%> -->

</div>

<style>
  html {
    background-color: #07393C;
    color: #F0EDEE;

  }
  body {
    background-color: #07393C;
    color: #F0EDEE;

  }
  h1,
  h3 {
    color: #F0EDEE;
  }
</style>