<div class="index">

  <h1>New to Crypto?</h1>

  <h3>We got you covered!!</h3>

  <!-- <%=image_tag("knewtocrypto")%> -->

</div>

<style>
  html {
    background-color: white;
  }
  body {
    background-color: white;
  }
</style>