html {
  background-color: #07393C;
}

body {
  background-color: #F0EDEE;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 10rem;
}

p {
  font-family: 'Average', serif;
  font-size: 3rem;
  line-height: 3.5rem;
  text-indent: 5rem;
  color: white;
}

.light {
  font-weight: 100px;
}